<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ServicioContpaqSDK.Properties.Settings.WebApplicationConnectionString"
            connectionString="Data Source=TSIS02;Initial Catalog=WebApplication;User ID=taguesi_dba"
            providerName="System.Data.SqlClient" />
        <add name="ServicioContpaqSDK.Properties.Settings.WebApplicationConnectionString1"
            connectionString="Data Source=TSIS02;Initial Catalog=WebApplication;User ID=taguesi_dba"
            providerName="System.Data.SqlClient" />
        <add name="ServicioContpaqSDK.Properties.Settings.WebApplicationConnectionString2"
            connectionString="Data Source=TSIS02;Initial Catalog=WebApplication;Persist Security Info=True;User ID=taguesi_dba;Password=dba_taguesi"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>